/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

header {
  padding-top: 22px;
  padding-bottom: 43px;
}

@media screen and (min-width: 1920px) {
  header {
    padding-top: 55px;
    padding-bottom: 66px;
  }
}

.head {
  margin-bottom: 37px;
}

@media screen and (min-width: 1920px) {
  .head {
    margin-bottom: 0;
  }
}

.head__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 124%;
  color: #FFFFFF;
}

@media screen and (min-width: 1920px) {
  .logo {
    font-size: 36px;
  }
}

.head__item {
  margin-right: 24px;
}

.head__item:last-child {
  margin-right: 0;
}

.head__nav-link {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 124%;
  color: #FFFFFF;
}

.head__nav-list {
  display: none;
}

@media screen and (min-width: 1920px) {
  .head__nav-list {
    display: flex;
    margin-left: 767px;
  }
}

.head__social {
  display: none;
}

@media screen and (min-width: 1920px) {
  .head__social {
    display: flex;
  }
}

.head__social-item {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50% 50%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.head__social-item:last-child {
  margin-right: 0;
}

.mobil-modal {
  position: fixed;
  background: linear-gradient(180deg, #8253D8 0%, #D05DDE 100%);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  z-index: 1;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

@media (min-width: 1920px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle__icon {
  fill: white;
}

.mobil-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu-close {
  position: absolute;
  right: 25px;
  top: -21px;
  border: none;
  background: none;
  fill: white;
}

.mobile-menu__item {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: white;
  text-decoration: none;
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}

.mobil-modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile-menu__social-item {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50% 50%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.mobile-menu__social-item:not(:last-child) {
  margin-right: 10px;
}

.mobile-menu__social {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 30px;
}

@media screen and (min-width: 1920px) {
  .wrap {
    width: 1456px;
    margin: 0 auto;
    height: 1076px;
    position: relative;
  }
}

@media screen and (min-width: 1920px) {
  .hero__box-text {
    width: 600px;
    padding-top: 150px;
  }
}

.hero__heading {
  font-weight: bold;
  font-size: 28px;
  line-height: 124%;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 9px;
}

@media screen and (min-width: 1920px) {
  .hero__heading {
    font-size: 48px;
    margin-bottom: 14px;
    text-align: left;
  }
}

.hero__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 124%;
  text-align: center;
  margin-bottom: 20px;
  color: #FFFFFF;
}

@media screen and (min-width: 1920px) {
  .hero__text {
    font-size: 20px;
    margin-bottom: 44px;
    text-align: left;
  }
}

.hero__box {
  flex-direction: column;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1920px) {
  .hero__box {
    justify-content: left;
    flex-direction: inherit;
    align-items: flex-start;
  }
}

.hero__box-link {
  display: flex;
  width: 200px;
  height: 53px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin-bottom: 16px;
  color: #FFFFFF;
}

.hero__box-link:last-child {
  margin-bottom: 31px;
}

@media screen and (min-width: 1920px) {
  .hero__box-link {
    margin-right: 21px;
    margin-bottom: 0;
  }
  .hero__box-link:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.hero__box-link-icon {
  fill: #FFFFFF;
  margin-right: 5px;
}

.hero-image {
  max-width: 271px;
  height: 325px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../images/mobile/telefone1@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 269px;
}

@media screen and (min-width: 1920px) {
  .hero-image {
    max-width: 646px;
    height: 776px;
    margin: 0;
    background-image: url(../images/desctop/telefone1@4x.png);
    position: absolute;
    display: block;
    top: 0;
    left: 800px;
    right: 10px;
  }
}

@media screen and (min-width: 1920px) {
  .function {
    width: 1456px;
    height: 1291px;
    margin: 0 auto;
    position: relative;
    padding-top: 99px;
    padding-bottom: 74px;
  }
}

@media screen and (min-width: 1920px) {
  .function__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.function__heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  margin-bottom: 8px;
}

@media screen and (min-width: 1920px) {
  .function__heading {
    font-size: 46px;
    line-height: 66px;
    margin-bottom: 23px;
  }
}

.function__text {
  line-height: 124%;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ABABAB;
  margin-bottom: 5px;
}

@media screen and (min-width: 1920px) {
  .function__text {
    font-size: 18px;
    margin-bottom: 183px;
  }
}

.function__list-heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 124%;
  color: #000000;
  margin-bottom: 3px;
}

@media screen and (min-width: 1920px) {
  .function__list-heading {
    font-size: 22px;
  }
}

.function__list-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 124%;
  color: #B0B0B0;
}

@media screen and (min-width: 1920px) {
  .function__list-text {
    font-size: 18px;
  }
}

@media screen and (min-width: 1920px) {
  .function__list {
    width: 437px;
  }
}

@media screen and (min-width: 1920px) {
  .function__list-right {
    width: 437px;
  }
}

.function__box-icon {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50% 50%;
  background: linear-gradient(180deg, #8253D8 0%, #D05DDE 100%);
  justify-content: center;
  align-items: center;
  float: left;
  margin-right: 13px;
}

.function__icon {
  fill: #FFFFFF;
}

.function__list-item {
  margin-bottom: 33px;
}

@media screen and (min-width: 1920px) {
  .function__list-item {
    margin-bottom: 174px;
  }
}

.function__image {
  max-width: 283px;
  height: 573px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 51px;
  margin-bottom: 51px;
  background-image: url(../images/mobile/telefone2@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1920px) {
  .function__image {
    max-width: 438px;
    min-height: 886px;
    background-image: url(../images/desctop/telefone2@4x.png);
    position: absolute;
    display: block;
    top: 320px;
    left: 500px;
    right: 10px;
    margin: 0;
  }
}

@media screen and (min-width: 1920px) {
  .footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1920px) {
  .footer_box-text {
    width: 518px;
  }
}

.footer__heading {
  font-weight: bold;
  font-size: 22px;
  line-height: 124%;
  color: #FFFFFF;
  margin-bottom: 6px;
}

@media screen and (min-width: 1920px) {
  .footer__heading {
    font-size: 28px;
    margin-bottom: 13px;
  }
}

.footer__text {
  line-height: 124%;
  color: #FFFFFF;
  margin-bottom: 32px;
}

@media screen and (min-width: 1920px) {
  .footer__text {
    font-size: 18px;
    margin-bottom: 0;
  }
}

.footer__contakts {
  line-height: 160%;
  color: #FFFFFF;
}

.footer__contakts:hover, .footer__contakts:focus {
  color: #2196f3;
}

.footer__contakts-item {
  margin-bottom: 28px;
}

@media screen and (min-width: 1920px) {
  .footer__contakts-item {
    margin-bottom: 0;
  }
}

.social__item {
  display: flex;
  width: 35px;
  height: 33px;
  border-radius: 50% 50%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.social__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 1920px) {
  .social__item {
    margin-right: 26px;
    width: 50px;
    height: 47px;
  }
}

@media screen and (min-width: 1920px) {
  .social__icon {
    width: 22px;
    height: 20px;
  }
}

.social {
  display: flex;
  margin-bottom: 58px;
}

.footer__border {
  border: none;
  background-color: #FFFFFF;
  color: #FFFFFF;
  height: 2px;
  margin-top: 58px;
}

@media screen and (min-width: 1920px) {
  .footer__border {
    margin-top: 84px;
  }
}

.footer__company {
  font-size: 18px;
  line-height: 124%;
  color: #FFFFFF;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 16px;
}

@media screen and (min-width: 1920px) {
  .footer__company {
    font-size: 20px;
    padding-top: 48px;
    padding-bottom: 39px;
  }
}

.main-bg {
  max-width: 371px;
  max-height: 1079px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../images/mobile/fon1-2x.jpg");
}

@media screen and (min-width: 1920px) {
  .main-bg {
    max-width: 1920px;
    max-height: 1076px;
    background-image: url("../images/desctop/fon1-4x.jpg");
  }
}

/*.footer-bg {
  max-width: 374px;
  max-height: 606px;
  margin-right: auto;
  margin-left: auto;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('../images/mobile/fon2-2x.jpg');

    @media screen and (min-width: 1920px) {
      max-width:1920px;
      max-height: 523px;

      background-image: url('../images/desctop/fon2-4x.jpg');
      }
}*/
.footer-bg {
  background: linear-gradient(179.98deg, #8253D8 27.09%, #D05DDE 99.98%);
}
/*# sourceMappingURL=main.css.map */