.function {
    @media screen and (min-width: 1920px) {
    width: 1456px;
    height: 1291px;
    margin: 0 auto;
    position: relative;
    padding-top: 99px;
    padding-bottom: 74px;
}
}
.function__box {
    @media screen and (min-width: 1920px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
}
.function__heading {
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    text-align: center;

    color: #000000;

    margin-bottom: 8px;

    @media screen and (min-width: 1920px) {
        font-size: 46px;
        line-height: 66px;
        margin-bottom: 23px;
    }
}

.function__text {
    line-height: 124%;
    text-align: center;
    letter-spacing: 0.08em;

    color: #ABABAB;

    margin-bottom: 5px;

    @media screen and (min-width: 1920px) {
        font-size: 18px;
        margin-bottom: 183px;
        
    }
}

.function__list-heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 124%;

    color: #000000;
    margin-bottom: 3px;

    @media screen and (min-width: 1920px) {
        font-size: 22px;
    }
}
.function__list-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 124%;

    color: #B0B0B0;

    @media screen and (min-width: 1920px) {
        font-size: 18px;
    }
}

.function__list {
    @media screen and (min-width: 1920px) {
    width: 437px;
}
}

.function__list-right {
    @media screen and (min-width: 1920px) {
    width: 437px;
}
}

.function__box-icon {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50% 50%;
    background: linear-gradient(180deg, #8253D8 0%, #D05DDE 100%);
    justify-content: center;
    align-items: center;

    float: left;

    margin-right: 13px;

} 
    .function__icon {
    fill:  #FFFFFF;
}

.function__list-item {
    margin-bottom: 33px;

    @media screen and (min-width: 1920px) {
        margin-bottom: 174px;
    }
}
.function__image {
max-width: 283px;
height: 573px;

margin-right: auto;
margin-left: auto;
margin-top: 51px;
margin-bottom: 51px;

background-image: url(../images/mobile/telefone2@2x.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

@media screen and (min-width: 1920px) {
max-width: 438px;
min-height: 886px;
background-image: url(../images/desctop/telefone2@4x.png);

position: absolute;
display: block;
top: 320px;
left: 500px;
right: 10px;
margin: 0;
}
}
 