.head {
   margin-bottom: 37px;

    @media screen and (min-width: 1920px) {
        margin-bottom: 0;

    }
}

.head__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 124%;

color: #FFFFFF;

@media screen and (min-width: 1920px) {
    font-size: 36px;
}
}
.head__item {
    margin-right: 24px;

    &:last-child {
        margin-right: 0;
    }
}
.head__nav-link {
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 124%;

color: #FFFFFF;
}
.head__nav-list {
    display: none;

@media screen and (min-width: 1920px) {
        display: flex;
        margin-left: 767px;
    }
}
.head__social {
    display: none;

@media screen and (min-width: 1920px) {
        display: flex;
    }
}
.head__social-item {
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50% 50%;

    background-color: #ffffff;
    justify-content: center;
    align-items: center;

    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
}

